body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 40vw;
    background-color: rgb(171, 221, 255);
    padding: 20px 80px;
}

.card-title {
    color: white;
    font-weight: bold;
    font-size: 32px;
}

.card-body h3 {
    text-transform: uppercase;
    font-weight: bolder;
}

.input-container {
    display: flex;
    width: 100%;
    margin: 12px 0;
}

.icon {
    padding: 8px;
    background: rgb(245, 182, 5);
    color: var(--first-color);
    min-width: 50px;
    text-align: center;
    border-top: 1px var(--text-color) solid;
    border-left: 1px var(--text-color) solid;
    border-bottom: 1px var(--text-color) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    box-shadow: 1px 1px 5px black;
}

.input-field {
    padding: 8px;
    outline: none;
    border-top: 1px var(--text-color) solid;
    border-right: 1px var(--text-color) solid;
    border-left: none;
    border-bottom: 1px var(--text-color) solid;
    width: 300px;
    background-color: #e7e7e7;
    border: 1px solid gray;
}

.btn {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 16px;
    border-radius: 4px;
    justify-content: space-between;
    cursor: pointer;
}
